
@{
    ViewData["Title"] = "Add";
}

<h1>Add Rigs</h1>

<div class="card card-body">
    Add IP addresses of rigs, each rig on new line.
</div>

<div>
    <form method="post">
        <div class="form-group">
            <label for="rigs">Rigs</label>
            <textarea class="form-control" id="rigs" name="rigs" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

